#######################################
#
# IDE

.idea/


#######################################
#
# Node

node_modules/
logs/


#######################################
#
# Project

.env

.repo/
.certs/

!example/.env